.list-item {
	margin: 1rem auto;
	@media(max-width: 767px) { margin: 0.5rem auto; }
	text-align: left;
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 50%;
	@media(max-width: 1200px) { width: 75%; }
	@media(max-width: 900px) { width: 85%; }
	@media(max-width: 700px) { width: 95%; }
	.image-container {
		height: 100px;
		overflow: hidden;
		img {
			width: 100%;
			margin-top: -25%;
			@media(max-width: 700px) { margin-top: -15%; }
		}
	}
	.list-details{
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media(max-width: 700px) {
			padding: 0.5rem;
			flex-direction: column;
		}
		.bar-info {
			width: 75%;
			flex-direction: column;
			align-items: flex-start;
			@media(max-width: 700px) {
				width: 100%;
				align-items: center;
				margin-bottom: 0.5rem;
				font-size: 0.9rem;
			}
			.bar-name, .bar-location { margin: 0.25rem 0; }
			.bar-name { font-weight: bold; }
			.bar-description {
				font-style: normal;
				font-size: 0.9rem;
				@media(max-width: 500px) { font-size: 0.8rem; }
				margin: 0;
			}
			.bar-location {
				font-style: italic;
				font-weight: normal;
			}
		}
	}

}
