.list-item {
  margin: 1rem auto;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 50%; }
  @media (max-width: 767px) {
    .list-item {
      margin: 0.5rem auto; } }
  @media (max-width: 1200px) {
    .list-item {
      width: 75%; } }
  @media (max-width: 900px) {
    .list-item {
      width: 85%; } }
  @media (max-width: 700px) {
    .list-item {
      width: 95%; } }
  .list-item .image-container {
    height: 100px;
    overflow: hidden; }
    .list-item .image-container img {
      width: 100%;
      margin-top: -25%; }
      @media (max-width: 700px) {
        .list-item .image-container img {
          margin-top: -15%; } }
  .list-item .list-details {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 700px) {
      .list-item .list-details {
        padding: 0.5rem;
        flex-direction: column; } }
    .list-item .list-details .bar-info {
      width: 75%;
      flex-direction: column;
      align-items: flex-start; }
      @media (max-width: 700px) {
        .list-item .list-details .bar-info {
          width: 100%;
          align-items: center;
          margin-bottom: 0.5rem;
          font-size: 0.9rem; } }
      .list-item .list-details .bar-info .bar-name, .list-item .list-details .bar-info .bar-location {
        margin: 0.25rem 0; }
      .list-item .list-details .bar-info .bar-name {
        font-weight: bold; }
      .list-item .list-details .bar-info .bar-description {
        font-style: normal;
        font-size: 0.9rem;
        margin: 0; }
        @media (max-width: 500px) {
          .list-item .list-details .bar-info .bar-description {
            font-size: 0.8rem; } }
      .list-item .list-details .bar-info .bar-location {
        font-style: italic;
        font-weight: normal; }
