.history .history-list {
  margin: auto;
  width: 50%; }
  @media (max-width: 1200px) {
    .history .history-list {
      width: 75%; } }
  @media (max-width: 900px) {
    .history .history-list {
      width: 85%; } }
  @media (max-width: 700px) {
    .history .history-list {
      width: 95%; } }
  @media (max-width: 500px) {
    .history .history-list {
      width: 100%; } }
  .history .history-list .previous-order-item {
    border: 1px solid gray;
    width: 90%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.05); }
    .history .history-list .previous-order-item p {
      margin: 0; }
    .history .history-list .previous-order-item .order-summary {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0.5rem; }
      .history .history-list .previous-order-item .order-summary p {
        width: 50%;
        text-align: left; }
        .history .history-list .previous-order-item .order-summary p span {
          margin-right: 0.25rem; }
        .history .history-list .previous-order-item .order-summary p:nth-of-type(2n) {
          text-align: right; }
        @media (max-width: 500px) {
          .history .history-list .previous-order-item .order-summary p {
            width: 100%; }
            .history .history-list .previous-order-item .order-summary p:nth-of-type(2n) {
              text-align: left; } }
    .history .history-list .previous-order-item .drink-summary {
      border-top: 1px solid gray;
      margin-top: 0.5rem; }
      .history .history-list .previous-order-item .drink-summary .drink-item {
        display: flex;
        padding: 0 0.5rem;
        justify-content: space-between; }
        .history .history-list .previous-order-item .drink-summary .drink-item p span {
          text-transform: uppercase; }
    .history .history-list .previous-order-item button {
      margin-top: 1rem; }
    .history .history-list .previous-order-item:first-child {
      border: 1px solid black;
      font-size: 1rem;
      background-color: #fff; }
      .history .history-list .previous-order-item:first-child .drink-summary {
        padding: 0.25rem 0.5rem; }
