.history {
	.history-list {
		margin: auto;
		width: 50%;
		@media(max-width: 1200px) { width: 75%; }
		@media(max-width: 900px) { width: 85%; }
		@media(max-width: 700px) { width: 95%; }
		@media(max-width: 500px) { width: 100%; }
		.previous-order-item {
			border: 1px solid gray;
			width: 90%;
			margin: 0.5rem auto;
			padding: 0.5rem;
			text-align: center;
			font-size: 0.8rem;
			background-color: rgba(0, 0, 0, 0.05);
			p { margin: 0; }
			.order-summary {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 0 0.5rem;
				p {
					width: 50%;
					text-align: left;
					span { margin-right: 0.25rem; }
					&:nth-of-type(2n) {
						text-align: right;
					}
					@media(max-width: 500px) {
						width: 100%;
						&:nth-of-type(2n) { text-align: left; }
					}
				}
			}
			.drink-summary {
				border-top: 1px solid gray;
				margin-top: 0.5rem;
				.drink-item {
					display: flex;
					padding: 0 0.5rem;
					justify-content: space-between;
					p {
						span { text-transform: uppercase; }
					}
				}
			}
			button { margin-top: 1rem;}
			&:first-child {
				border: 1px solid black;
				font-size: 1rem;
				background-color: #fff;
				.drink-summary { padding: 0.25rem 0.5rem; }
			}
		}
	}
}
