.bar-container {
  text-align: center; }
  .bar-container .bar-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 0; }
    .bar-container .bar-info .bar-image-container {
      height: 200px;
      overflow: hidden; }
      .bar-container .bar-info .bar-image-container img {
        width: 100%;
        margin-top: -15%; }
        @media (max-width: 700px) {
          .bar-container .bar-info .bar-image-container img {
            margin-top: 0; } }
    .bar-container .bar-info .title {
      margin-bottom: 0; }
    .bar-container .bar-info .bar-description {
      margin: 0; }
      @media (max-width: 500px) {
        .bar-container .bar-info .bar-description {
          font-size: 0.8rem; } }
  .bar-container .menu .title {
    margin: 0.5rem auto;
    padding: 0.5rem 0;
    background-color: #e0e0e0;
    box-shadow: 0 0 3px 0 gray; }
    @media (max-width: 500px) {
      .bar-container .menu .title {
        font-size: 1rem; } }
  .bar-container .menu .drink-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem; }
    .bar-container .menu .drink-list .drink-item {
      margin: 0.5rem;
      width: 20%;
      box-shadow: 0px 0px 3px 0px grey;
      border-radius: 5px;
      padding: 0.75rem 0.25rem; }
      @media (max-width: 1200px) {
        .bar-container .menu .drink-list .drink-item {
          width: 30%; } }
      @media (max-width: 800px) {
        .bar-container .menu .drink-list .drink-item {
          width: 45%; } }
      @media (max-width: 550px) {
        .bar-container .menu .drink-list .drink-item {
          width: 75%; } }
      @media (max-width: 400px) {
        .bar-container .menu .drink-list .drink-item {
          width: 90%; } }
      .bar-container .menu .drink-list .drink-item .item-actions {
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 0 3px 0 grey;
        width: 90%;
        margin: auto;
        padding: 0.5rem; }
        .bar-container .menu .drink-list .drink-item .item-actions button {
          padding: 0;
          min-height: 2rem; }
      .bar-container .menu .drink-list .drink-item .image-container img {
        width: 50%;
        border-radius: 10px;
        box-shadow: 0px 0px 3px 0px grey; }
      .bar-container .menu .drink-list .drink-item p {
        margin: 0.25rem auto; }
        .bar-container .menu .drink-list .drink-item p.item-name {
          font-weight: 500;
          text-transform: uppercase;
          margin-top: 0.75rem; }
          @media (max-width: 700px) {
            .bar-container .menu .drink-list .drink-item p.item-name {
              margin-top: 0.5rem;
              font-size: 0.9rem; } }
        .bar-container .menu .drink-list .drink-item p.item-price, .bar-container .menu .drink-list .drink-item p.item-qty {
          font-weight: bold;
          color: #ff4081; }
        @media (max-width: 700px) {
          .bar-container .menu .drink-list .drink-item p.item-price {
            font-size: 0.9rem; } }
        .bar-container .menu .drink-list .drink-item p.item-description {
          font-size: 0.8rem;
          width: 95%; }
