.bar-container {
	text-align: center;
	.bar-info {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: auto;
		padding: 0;
		.bar-image-container {
			height: 200px;
			overflow: hidden;
			img {
				width: 100%;
				margin-top: -15%;
				@media(max-width: 700px) { margin-top: 0; }
			}
		}
		.title { margin-bottom: 0; }
		.bar-description {
			margin: 0;
			@media(max-width: 500px) { font-size: 0.8rem; }
		}
	}
	.menu {
		.title {
			margin: 0.5rem auto;
			padding: 0.5rem 0;
			background-color: #e0e0e0;
			box-shadow: 0 0 3px 0 gray;
			@media(max-width: 500px) { font-size: 1rem; }
		}
		.drink-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 4rem;
			.drink-item {
				margin: 0.5rem;
				width: 20%;
				@media(max-width: 1200px) { width: 30%;}
				@media(max-width: 800px) { width: 45%;}
				@media(max-width: 550px) { width: 75%;}
				@media(max-width: 400px) { width: 90%;}
				box-shadow: 0px 0px 3px 0px grey;
				border-radius: 5px;
				padding: 0.75rem 0.25rem;
				.item-actions {
					display: flex;
					justify-content: space-around;;
					align-items: center;
					box-shadow: 0 0 3px 0 grey;
					width: 90%;
					margin: auto;
					padding: 0.5rem;
					button {
						padding: 0;
						min-height: 2rem;
					}
				}
				.image-container {
					img {
						width: 50%;
						border-radius: 10px;
						box-shadow: 0px 0px 3px 0px grey;
					}
				}
				p {
					margin: 0.25rem auto;
					&.item-name {
						font-weight: 500;
						text-transform: uppercase;
						margin-top: 0.75rem;
						@media(max-width: 700px) {
							margin-top: 0.5rem;
							font-size: 0.9rem;
						}
					}
					&.item-price, &.item-qty {
						font-weight: bold;
						color: #ff4081;
					}
					&.item-price {
						@media(max-width: 700px) {
							font-size: 0.9rem;
						}
					}
					&.item-description {
						font-size: 0.8rem;
						width: 95%;
					}
				}
			}
		}
	}
}
