.dashboard {
  text-align: center;
  width: 80%;
  margin: auto; }
  @media (max-width: 767px) {
    .dashboard {
      width: 90%; } }
  @media (max-width: 500px) {
    .dashboard {
      width: 95%; } }
  .dashboard .dashboard-nav {
    display: flex;
    flex-direction: column; }
    .dashboard .dashboard-nav a {
      padding: 1rem; }
      .dashboard .dashboard-nav a button {
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 50%; }
        @media (max-width: 500px) {
          .dashboard .dashboard-nav a button {
            font-size: 1.25rem; } }
        @media (max-width: 767px) {
          .dashboard .dashboard-nav a button {
            width: 75%; } }
        @media (max-width: 500px) {
          .dashboard .dashboard-nav a button {
            width: 90%; } }
