.dashboard {
	text-align: center;
	width: 80%;
	@media(max-width: 767px) { width: 90%; }
	@media(max-width: 500px) { width: 95%; }
	margin: auto;
	.dashboard-nav {
		display: flex;
		flex-direction: column;
		a {
			padding: 1rem;
			button {
				padding: 0.5rem;
				font-size: 1.5rem;
				@media(max-width: 500px) { font-size: 1.25rem; }
				width: 50%;
				@media(max-width: 767px) { width: 75%; }
				@media(max-width: 500px) { width: 90%; }
			}
		}
	}
}
