.search {
  text-align: center; }
  .search .search-input {
    display: flex;
    width: 25%;
    margin: auto;
    align-items: center; }
    @media (max-width: 1300px) {
      .search .search-input {
        width: 33%; } }
    @media (max-width: 1000px) {
      .search .search-input {
        width: 50%; } }
    @media (max-width: 800px) {
      .search .search-input {
        width: 66%; } }
    @media (max-width: 600px) {
      .search .search-input {
        width: 75%; } }
    @media (max-width: 450px) {
      .search .search-input {
        width: 90%; } }
