.search {
	text-align: center;
	.search-input {
		display: flex;
		width: 25%;
		@media(max-width: 1300px) { width: 33%; }
		@media(max-width: 1000px) { width: 50%; }
		@media(max-width: 800px) { width: 66%; }
		@media(max-width: 600px) { width: 75%; }
		@media(max-width: 450px) { width: 90%; }
		margin: auto;
		align-items: center;
	}
}
