html body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Roboto-Regular', sans-serif; }
  html body a {
    text-decoration: none; }
  html body .title {
    font-family: 'Raleway-Regular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    text-shadow: 0px 1px 1px grey; }
    @media (max-width: 400px) {
      html body .title {
        font-size: 1.2rem; } }
    @media (max-width: 767px) {
      html body .title {
        margin: 0.5rem auto; } }
  html body .App .App-header {
    background: #1D2951;
    height: 75px; }
    html body .App .App-header a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.5rem; }
      html body .App .App-header a img {
        width: 50px;
        height: 50px; }
      html body .App .App-header a .title {
        font-size: 2.5rem;
        margin: 0.5rem 1rem;
        color: #fff;
        text-transform: lowercase; }
    @media (max-width: 700px) {
      html body .App .App-header {
        height: 50px; }
        html body .App .App-header a {
          padding: 0 0.5rem;
          height: 100%; }
          html body .App .App-header a img {
            height: 40px;
            width: 40px; }
          html body .App .App-header a .title {
            font-size: 2rem;
            margin: 0 1rem; } }
