html {
	body {
		margin: 0;
		padding: 0;
		min-width: 320px;
		a { text-decoration: none; }
		font-family: 'Roboto-Regular', sans-serif;
		.title {
			font-family: 'Raleway-Regular', sans-serif;
			text-transform: uppercase;
			text-align: center;
			font-size: 1.25rem;
			@media(max-width: 400px) { font-size: 1.2rem; }
			text-shadow: 0px 1px 1px grey;
			@media(max-width: 767px) { margin: 0.5rem auto; }
		}
		.App {
			.App-header {
				background: #1D2951;
				height: 75px;
				a {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					padding: 0.5rem;
					img {
						width: 50px;
						height: 50px;
					}
					.title {
						font-size: 2.5rem;
						margin: 0.5rem 1rem;
						color: #fff;
						text-transform: lowercase;
					}
				}
				@media(max-width: 700px) {
					height: 50px;
					a {
						padding: 0 0.5rem;
						height: 100%;
						img {
							height: 40px;
							width: 40px;
						}
						.title {
							font-size: 2rem;
							margin: 0 1rem;
						}
					}
				}
			}
		}
	}
}
